body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:320px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
  background:inherit;
  background-color:rgba(238, 238, 238, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u2 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:0px;
  top:538px;
  width:320px;
  height:30px;
}
#u3_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:326px;
  height:36px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:35px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:30px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:30px;
  text-align:center;
}
#u6 {
  position:absolute;
  left:2px;
  top:7px;
  width:103px;
  word-wrap:break-word;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:30px;
}
#u7 {
  position:absolute;
  left:107px;
  top:0px;
  width:107px;
  height:30px;
  text-align:center;
}
#u8 {
  position:absolute;
  left:2px;
  top:7px;
  width:103px;
  word-wrap:break-word;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:30px;
}
#u9 {
  position:absolute;
  left:214px;
  top:0px;
  width:106px;
  height:30px;
  text-align:center;
}
#u10 {
  position:absolute;
  left:2px;
  top:7px;
  width:102px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:0px;
  top:449px;
  width:108px;
  height:90px;
}
#u11_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:114px;
  height:96px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:95px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:30px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:30px;
  text-align:center;
}
#u14 {
  position:absolute;
  left:2px;
  top:7px;
  width:104px;
  word-wrap:break-word;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:30px;
}
#u15 {
  position:absolute;
  left:0px;
  top:30px;
  width:108px;
  height:30px;
  text-align:center;
}
#u16 {
  position:absolute;
  left:2px;
  top:7px;
  width:104px;
  word-wrap:break-word;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:30px;
}
#u17 {
  position:absolute;
  left:0px;
  top:60px;
  width:108px;
  height:30px;
  text-align:center;
}
#u18 {
  position:absolute;
  left:2px;
  top:7px;
  width:104px;
  word-wrap:break-word;
}
#u19_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19 {
  position:absolute;
  left:96px;
  top:228px;
  width:129px;
  height:38px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
