body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:595px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u22_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
  background:inherit;
  background-color:rgba(238, 238, 238, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u23 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:0px;
  top:185px;
  width:320px;
  height:383px;
  overflow:hidden;
}
#u24_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:383px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u24_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:120px;
}
#u25 {
  position:absolute;
  left:0px;
  top:10px;
  width:320px;
  height:120px;
}
#u26 {
  position:absolute;
  left:2px;
  top:52px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 51, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u28 {
  position:absolute;
  left:173px;
  top:92px;
  width:80px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u29 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:120px;
}
#u30 {
  position:absolute;
  left:0px;
  top:140px;
  width:320px;
  height:120px;
}
#u31 {
  position:absolute;
  left:2px;
  top:52px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 51, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u33 {
  position:absolute;
  left:173px;
  top:222px;
  width:80px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u34 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:120px;
}
#u35 {
  position:absolute;
  left:0px;
  top:270px;
  width:320px;
  height:120px;
}
#u36 {
  position:absolute;
  left:2px;
  top:52px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 51, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u38 {
  position:absolute;
  left:173px;
  top:352px;
  width:80px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u39 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:120px;
}
#u40 {
  position:absolute;
  left:0px;
  top:400px;
  width:320px;
  height:120px;
}
#u41 {
  position:absolute;
  left:2px;
  top:52px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 51, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u43 {
  position:absolute;
  left:173px;
  top:482px;
  width:80px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u44 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u24_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:383px;
  visibility:hidden;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u24_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u45_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u45 {
  position:absolute;
  left:57px;
  top:30px;
  width:200px;
  height:100px;
  font-size:20px;
}
#u46 {
  position:absolute;
  left:2px;
  top:38px;
  width:196px;
  word-wrap:break-word;
}
#u48_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:44px;
  background:-webkit-linear-gradient(270deg, rgba(255, 102, 0, 1) 0%, rgba(255, 102, 0, 1) 0%, rgba(255, 153, 102, 1) 100%, rgba(255, 153, 102, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 102, 0, 1) 0%, rgba(255, 102, 0, 1) 0%, rgba(255, 153, 102, 1) 100%, rgba(255, 153, 102, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 102, 0, 1) 0%, rgba(255, 102, 0, 1) 0%, rgba(255, 153, 102, 1) 100%, rgba(255, 153, 102, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'幼圆 Bold', '幼圆';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:44px;
  font-family:'幼圆 Bold', '幼圆';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u49 {
  position:absolute;
  left:2px;
  top:11px;
  width:316px;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:0px;
  top:47px;
  width:320px;
  height:106px;
  overflow:hidden;
}
#u50_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:106px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u50_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:100px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:100px;
}
#u52 {
  position:absolute;
  left:2px;
  top:42px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u54 {
  position:absolute;
  left:166px;
  top:80px;
  width:10px;
  height:10px;
}
#u55 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u56 {
  position:absolute;
  left:122px;
  top:80px;
  width:10px;
  height:10px;
}
#u57 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u58 {
  position:absolute;
  left:144px;
  top:80px;
  width:10px;
  height:10px;
}
#u59 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u60 {
  position:absolute;
  left:188px;
  top:80px;
  width:10px;
  height:10px;
}
#u61 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:106px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u50_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:100px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:100px;
}
#u63 {
  position:absolute;
  left:2px;
  top:42px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u65 {
  position:absolute;
  left:166px;
  top:80px;
  width:10px;
  height:10px;
}
#u66 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u67 {
  position:absolute;
  left:122px;
  top:80px;
  width:10px;
  height:10px;
}
#u68 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u69 {
  position:absolute;
  left:144px;
  top:80px;
  width:10px;
  height:10px;
}
#u70 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u71 {
  position:absolute;
  left:188px;
  top:80px;
  width:10px;
  height:10px;
}
#u72 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:106px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u50_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:100px;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:100px;
}
#u74 {
  position:absolute;
  left:2px;
  top:42px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u76 {
  position:absolute;
  left:166px;
  top:80px;
  width:10px;
  height:10px;
}
#u77 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u78 {
  position:absolute;
  left:122px;
  top:80px;
  width:10px;
  height:10px;
}
#u79 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u80 {
  position:absolute;
  left:144px;
  top:80px;
  width:10px;
  height:10px;
}
#u81 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u82 {
  position:absolute;
  left:188px;
  top:80px;
  width:10px;
  height:10px;
}
#u83 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50_state3 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:106px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u50_state3_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:100px;
}
#u84 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:100px;
}
#u85 {
  position:absolute;
  left:2px;
  top:42px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u86 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u87 {
  position:absolute;
  left:166px;
  top:80px;
  width:10px;
  height:10px;
}
#u88 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u89 {
  position:absolute;
  left:122px;
  top:80px;
  width:10px;
  height:10px;
}
#u90 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u91 {
  position:absolute;
  left:144px;
  top:80px;
  width:10px;
  height:10px;
}
#u92 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u93 {
  position:absolute;
  left:188px;
  top:80px;
  width:10px;
  height:10px;
}
#u94 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:0px;
  top:150px;
  width:320px;
  height:35px;
}
#u95_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:326px;
  height:41px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u96 {
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:40px;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:35px;
}
#u97 {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:35px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#999999;
  text-align:center;
}
#u97_img.selected {
}
#u97.selected {
}
#u98 {
  position:absolute;
  left:2px;
  top:10px;
  width:155px;
  word-wrap:break-word;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:35px;
}
#u99 {
  position:absolute;
  left:159px;
  top:0px;
  width:161px;
  height:35px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#999999;
  text-align:center;
}
#u99_img.selected {
}
#u99.selected {
}
#u100 {
  position:absolute;
  left:2px;
  top:10px;
  width:157px;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:25px;
  top:457px;
}
#u101_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u101_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u102 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u103 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u104 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u105 {
  position:absolute;
  left:11px;
  top:11px;
  width:20px;
  height:20px;
}
#u106 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u107 {
  position:absolute;
  left:23px;
  top:457px;
}
#u107_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u107_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u108 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u109 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u110 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u111 {
  position:absolute;
  left:10px;
  top:9px;
  width:20px;
  height:20px;
}
#u112 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u113 {
  position:absolute;
  left:25px;
  top:460px;
}
#u113_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u113_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u114 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#BCBCBC;
}
#u115 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  word-wrap:break-word;
}
#u116 {
  position:absolute;
  left:20px;
  top:457px;
}
#u116_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u116_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u117 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u118 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u119 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u120 {
  position:absolute;
  left:11px;
  top:10px;
  width:20px;
  height:20px;
}
#u121 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u122_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:163px;
  height:6px;
}
#u122 {
  position:absolute;
  left:0px;
  top:182px;
  width:160px;
  height:3px;
}
#u123 {
  position:absolute;
  left:2px;
  top:-6px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u124 {
  position:absolute;
  left:19px;
  top:456px;
  width:45px;
  height:45px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u124_img.selected {
}
#u124.selected {
}
#u125 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  word-wrap:break-word;
}
#u126_div {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:160px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u126 {
  position:absolute;
  left:350px;
  top:150px;
  width:245px;
  height:160px;
}
#u127 {
  position:absolute;
  left:2px;
  top:72px;
  width:241px;
  visibility:hidden;
  word-wrap:break-word;
}
#u128_div {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u128 {
  position:absolute;
  left:367px;
  top:169px;
  width:214px;
  height:16px;
}
#u129 {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  white-space:nowrap;
}
#u130 {
  position:absolute;
  left:367px;
  top:194px;
  width:209px;
  height:29px;
}
#u130_input {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:29px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
}
#u131 {
  position:absolute;
  left:422px;
  top:272px;
  width:100px;
  height:25px;
}
#u131_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u132 {
  position:absolute;
  left:367px;
  top:231px;
  width:209px;
  height:29px;
}
#u132_input {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:29px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
}
