body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:320px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u407_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
  background:inherit;
  background-color:rgba(238, 238, 238, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u407 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u408 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u410_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:44px;
  background:-webkit-linear-gradient(90deg, rgba(153, 153, 153, 1) 0%, rgba(153, 153, 153, 1) 0%, rgba(204, 204, 204, 1) 100%, rgba(204, 204, 204, 1) 100%);
  background:-moz-linear-gradient(0deg, rgba(153, 153, 153, 1) 0%, rgba(153, 153, 153, 1) 0%, rgba(204, 204, 204, 1) 100%, rgba(204, 204, 204, 1) 100%);
  background:linear-gradient(0deg, rgba(153, 153, 153, 1) 0%, rgba(153, 153, 153, 1) 0%, rgba(204, 204, 204, 1) 100%, rgba(204, 204, 204, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'幼圆 Bold', '幼圆';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u410 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:44px;
  font-family:'幼圆 Bold', '幼圆';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u411 {
  position:absolute;
  left:2px;
  top:11px;
  width:316px;
  word-wrap:break-word;
}
#u412_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:27px;
}
#u412 {
  position:absolute;
  left:10px;
  top:8px;
  width:60px;
  height:27px;
}
#u413 {
  position:absolute;
  left:2px;
  top:6px;
  width:56px;
  word-wrap:break-word;
}
#u414 {
  position:absolute;
  left:15px;
  top:65px;
  width:284px;
  height:16px;
}
#u415 {
  position:absolute;
  left:16px;
  top:0px;
  width:266px;
  word-wrap:break-word;
}
#u414_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u416_img {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:2px;
}
#u416 {
  position:absolute;
  left:14px;
  top:96px;
  width:291px;
  height:1px;
}
#u417 {
  position:absolute;
  left:2px;
  top:-8px;
  width:287px;
  visibility:hidden;
  word-wrap:break-word;
}
#u418 {
  position:absolute;
  left:15px;
  top:120px;
  width:284px;
  height:16px;
}
#u419 {
  position:absolute;
  left:16px;
  top:0px;
  width:266px;
  word-wrap:break-word;
}
#u418_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u420_img {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:2px;
}
#u420 {
  position:absolute;
  left:14px;
  top:152px;
  width:291px;
  height:1px;
}
#u421 {
  position:absolute;
  left:2px;
  top:-8px;
  width:287px;
  visibility:hidden;
  word-wrap:break-word;
}
#u422 {
  position:absolute;
  left:14px;
  top:162px;
  visibility:hidden;
}
#u422_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u422_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u423_div {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:80px;
  background:inherit;
  background-color:rgba(73, 101, 131, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#336699;
}
#u423 {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:80px;
  color:#336699;
}
#u424 {
  position:absolute;
  left:2px;
  top:32px;
  width:292px;
  visibility:hidden;
  word-wrap:break-word;
}
#u425_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u425 {
  position:absolute;
  left:14px;
  top:12px;
  width:96px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u426 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  white-space:nowrap;
}
#u427_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u427 {
  position:absolute;
  left:176px;
  top:12px;
  width:88px;
  height:16px;
  font-size:16px;
  color:#FFFFFF;
}
#u428 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  white-space:nowrap;
}
#u429_div {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u429 {
  position:absolute;
  left:14px;
  top:54px;
  width:232px;
  height:16px;
  color:#FFFFFF;
}
#u430 {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  white-space:nowrap;
}
#u431 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u432_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:2px;
}
#u432 {
  position:absolute;
  left:267px;
  top:56px;
  width:10px;
  height:1px;
  -webkit-transform:rotate(38deg);
  -moz-transform:rotate(38deg);
  -ms-transform:rotate(38deg);
  transform:rotate(38deg);
}
#u433 {
  position:absolute;
  left:3px;
  top:-8px;
  width:4px;
  visibility:hidden;
  -webkit-transform:rotate(-38deg);
  -moz-transform:rotate(-38deg);
  -ms-transform:rotate(-38deg);
  transform:rotate(-38deg);
  word-wrap:break-word;
  transform-origin:2px 8.5px;
  -ms-transform-origin:2px 8.5px;
  -moz-transform-origin:2px 8.5px;
  -webkit-transform-origin:2px 8.5px;
}
#u434_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:2px;
}
#u434 {
  position:absolute;
  left:267px;
  top:64px;
  width:11px;
  height:1px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
}
#u435 {
  position:absolute;
  left:3px;
  top:-8px;
  width:4px;
  visibility:hidden;
  -webkit-transform:rotate(-315deg);
  -moz-transform:rotate(-315deg);
  -ms-transform:rotate(-315deg);
  transform:rotate(-315deg);
  word-wrap:break-word;
  transform-origin:2.5px 8.5px;
  -ms-transform-origin:2.5px 8.5px;
  -moz-transform-origin:2.5px 8.5px;
  -webkit-transform-origin:2.5px 8.5px;
}
