body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:320px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u306_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
  background:inherit;
  background-color:rgba(238, 238, 238, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u306 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u307 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u309_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:44px;
  background:-webkit-linear-gradient(90deg, rgba(153, 153, 153, 1) 0%, rgba(153, 153, 153, 1) 0%, rgba(204, 204, 204, 1) 100%, rgba(204, 204, 204, 1) 100%);
  background:-moz-linear-gradient(0deg, rgba(153, 153, 153, 1) 0%, rgba(153, 153, 153, 1) 0%, rgba(204, 204, 204, 1) 100%, rgba(204, 204, 204, 1) 100%);
  background:linear-gradient(0deg, rgba(153, 153, 153, 1) 0%, rgba(153, 153, 153, 1) 0%, rgba(204, 204, 204, 1) 100%, rgba(204, 204, 204, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'幼圆 Bold', '幼圆';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u309 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:44px;
  font-family:'幼圆 Bold', '幼圆';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u310 {
  position:absolute;
  left:2px;
  top:11px;
  width:316px;
  word-wrap:break-word;
}
#u311_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:27px;
}
#u311 {
  position:absolute;
  left:10px;
  top:8px;
  width:60px;
  height:27px;
}
#u312 {
  position:absolute;
  left:2px;
  top:6px;
  width:56px;
  word-wrap:break-word;
}
#u313 {
  position:absolute;
  left:20px;
  top:55px;
  width:280px;
  height:40px;
}
#u313_input {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#AEAEAE;
  text-align:left;
}
#u314_div {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u314 {
  position:absolute;
  left:20px;
  top:100px;
  width:268px;
  height:16px;
  font-size:12px;
}
#u315 {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  white-space:nowrap;
}
#u316 {
  position:absolute;
  left:20px;
  top:120px;
  width:135px;
  height:40px;
}
#u316_input {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#AEAEAE;
  text-align:left;
}
#u317_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:41px;
}
#u317 {
  position:absolute;
  left:165px;
  top:120px;
  width:135px;
  height:41px;
}
#u318 {
  position:absolute;
  left:2px;
  top:12px;
  width:131px;
  visibility:hidden;
  word-wrap:break-word;
}
#u319_div {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:50px;
  background:-webkit-linear-gradient(90deg, rgba(255, 102, 0, 1) 0%, rgba(255, 102, 0, 1) 0%, rgba(255, 102, 51, 1) 100%, rgba(255, 102, 51, 1) 100%);
  background:-moz-linear-gradient(0deg, rgba(255, 102, 0, 1) 0%, rgba(255, 102, 0, 1) 0%, rgba(255, 102, 51, 1) 100%, rgba(255, 102, 51, 1) 100%);
  background:linear-gradient(0deg, rgba(255, 102, 0, 1) 0%, rgba(255, 102, 0, 1) 0%, rgba(255, 102, 51, 1) 100%, rgba(255, 102, 51, 1) 100%);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#FFFFFF;
}
#u319 {
  position:absolute;
  left:20px;
  top:170px;
  width:280px;
  height:50px;
  font-size:28px;
  color:#FFFFFF;
}
#u320 {
  position:absolute;
  left:2px;
  top:9px;
  width:276px;
  word-wrap:break-word;
}
