body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:320px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u134_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
  background:inherit;
  background-color:rgba(238, 238, 238, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u134 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u135 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u136 {
  position:absolute;
  left:0px;
  top:185px;
  width:320px;
  height:383px;
  overflow:hidden;
}
#u136_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:383px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u136_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:120px;
}
#u137 {
  position:absolute;
  left:0px;
  top:10px;
  width:320px;
  height:120px;
}
#u138 {
  position:absolute;
  left:2px;
  top:52px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:120px;
}
#u139 {
  position:absolute;
  left:0px;
  top:140px;
  width:320px;
  height:120px;
}
#u140 {
  position:absolute;
  left:2px;
  top:52px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:120px;
}
#u141 {
  position:absolute;
  left:0px;
  top:270px;
  width:320px;
  height:120px;
}
#u142 {
  position:absolute;
  left:2px;
  top:52px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:120px;
}
#u143 {
  position:absolute;
  left:0px;
  top:400px;
  width:320px;
  height:120px;
}
#u144 {
  position:absolute;
  left:2px;
  top:52px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u145_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 51, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u145 {
  position:absolute;
  left:173px;
  top:95px;
  width:80px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u146 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u147_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 51, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u147 {
  position:absolute;
  left:173px;
  top:225px;
  width:80px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u148 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u149_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 51, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u149 {
  position:absolute;
  left:173px;
  top:350px;
  width:80px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u150 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u151_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 51, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u151 {
  position:absolute;
  left:173px;
  top:485px;
  width:80px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u152 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u136_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:383px;
  visibility:hidden;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u136_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:120px;
}
#u153 {
  position:absolute;
  left:0px;
  top:10px;
  width:320px;
  height:120px;
}
#u154 {
  position:absolute;
  left:2px;
  top:52px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u156_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 51, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u156 {
  position:absolute;
  left:174px;
  top:92px;
  width:80px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u157 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u159_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 102, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u159 {
  position:absolute;
  left:345px;
  top:92px;
  width:80px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u160 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:120px;
}
#u161 {
  position:absolute;
  left:0px;
  top:140px;
  width:320px;
  height:120px;
}
#u162 {
  position:absolute;
  left:2px;
  top:52px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u164_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 51, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u164 {
  position:absolute;
  left:174px;
  top:222px;
  width:80px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u165 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u166_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:120px;
}
#u166 {
  position:absolute;
  left:0px;
  top:270px;
  width:320px;
  height:120px;
}
#u167 {
  position:absolute;
  left:2px;
  top:52px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u169_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 51, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u169 {
  position:absolute;
  left:174px;
  top:352px;
  width:80px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u170 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u171_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:120px;
}
#u171 {
  position:absolute;
  left:0px;
  top:400px;
  width:320px;
  height:120px;
}
#u172 {
  position:absolute;
  left:2px;
  top:52px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u174_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 51, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u174 {
  position:absolute;
  left:174px;
  top:482px;
  width:80px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u175 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u176 {
  position:absolute;
  left:0px;
  top:47px;
  width:320px;
  height:100px;
  overflow:hidden;
}
#u176_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:100px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u176_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u177_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:100px;
}
#u177 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:100px;
}
#u178 {
  position:absolute;
  left:2px;
  top:42px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u179 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u180_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u180 {
  position:absolute;
  left:166px;
  top:80px;
  width:10px;
  height:10px;
}
#u181 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u182_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u182 {
  position:absolute;
  left:122px;
  top:80px;
  width:10px;
  height:10px;
}
#u183 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u184_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u184 {
  position:absolute;
  left:144px;
  top:80px;
  width:10px;
  height:10px;
}
#u185 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u186_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u186 {
  position:absolute;
  left:188px;
  top:80px;
  width:10px;
  height:10px;
}
#u187 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u176_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:100px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u176_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u188_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:100px;
}
#u188 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:100px;
}
#u189 {
  position:absolute;
  left:2px;
  top:42px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u190 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u191_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u191 {
  position:absolute;
  left:166px;
  top:80px;
  width:10px;
  height:10px;
}
#u192 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u193_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u193 {
  position:absolute;
  left:122px;
  top:80px;
  width:10px;
  height:10px;
}
#u194 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u195_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u195 {
  position:absolute;
  left:144px;
  top:80px;
  width:10px;
  height:10px;
}
#u196 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u197_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u197 {
  position:absolute;
  left:188px;
  top:80px;
  width:10px;
  height:10px;
}
#u198 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u176_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:100px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u176_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u199_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:100px;
}
#u199 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:100px;
}
#u200 {
  position:absolute;
  left:2px;
  top:42px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u201 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u202_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u202 {
  position:absolute;
  left:166px;
  top:80px;
  width:10px;
  height:10px;
}
#u203 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u204_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u204 {
  position:absolute;
  left:122px;
  top:80px;
  width:10px;
  height:10px;
}
#u205 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u206_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u206 {
  position:absolute;
  left:144px;
  top:80px;
  width:10px;
  height:10px;
}
#u207 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u208_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u208 {
  position:absolute;
  left:188px;
  top:80px;
  width:10px;
  height:10px;
}
#u209 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u176_state3 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:100px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u176_state3_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u210_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:100px;
}
#u210 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:100px;
}
#u211 {
  position:absolute;
  left:2px;
  top:42px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u212 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u213_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u213 {
  position:absolute;
  left:166px;
  top:80px;
  width:10px;
  height:10px;
}
#u214 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u215_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u215 {
  position:absolute;
  left:122px;
  top:80px;
  width:10px;
  height:10px;
}
#u216 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u217_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u217 {
  position:absolute;
  left:144px;
  top:80px;
  width:10px;
  height:10px;
}
#u218 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u219_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u219 {
  position:absolute;
  left:188px;
  top:80px;
  width:10px;
  height:10px;
}
#u220 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u221 {
  position:absolute;
  left:0px;
  top:150px;
  width:320px;
  height:35px;
}
#u221_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:326px;
  height:41px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u222 {
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:40px;
}
#u223_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:35px;
}
#u223 {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:35px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#999999;
  text-align:center;
}
#u223_img.selected {
}
#u223.selected {
}
#u224 {
  position:absolute;
  left:2px;
  top:10px;
  width:155px;
  word-wrap:break-word;
}
#u225_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:35px;
}
#u225 {
  position:absolute;
  left:159px;
  top:0px;
  width:161px;
  height:35px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#999999;
  text-align:center;
}
#u225_img.selected {
}
#u225.selected {
}
#u226 {
  position:absolute;
  left:2px;
  top:10px;
  width:157px;
  word-wrap:break-word;
}
#u227_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:163px;
  height:6px;
}
#u227 {
  position:absolute;
  left:0px;
  top:182px;
  width:160px;
  height:3px;
}
#u228 {
  position:absolute;
  left:2px;
  top:-6px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u230_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:44px;
  background:-webkit-linear-gradient(90deg, rgba(255, 102, 0, 1) 0%, rgba(255, 102, 0, 1) 0%, rgba(255, 153, 102, 1) 100%, rgba(255, 153, 102, 1) 100%);
  background:-moz-linear-gradient(0deg, rgba(255, 102, 0, 1) 0%, rgba(255, 102, 0, 1) 0%, rgba(255, 153, 102, 1) 100%, rgba(255, 153, 102, 1) 100%);
  background:linear-gradient(0deg, rgba(255, 102, 0, 1) 0%, rgba(255, 102, 0, 1) 0%, rgba(255, 153, 102, 1) 100%, rgba(255, 153, 102, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'幼圆 Bold', '幼圆';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:left;
}
#u230 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:44px;
  font-family:'幼圆 Bold', '幼圆';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:left;
}
#u231 {
  position:absolute;
  left:2px;
  top:11px;
  width:316px;
  word-wrap:break-word;
}
#u232_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:right;
}
#u232 {
  position:absolute;
  left:123px;
  top:14px;
  width:86px;
  height:16px;
  color:#FFFFFF;
  text-align:right;
}
#u233 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  word-wrap:break-word;
}
#u234_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:16px;
}
#u234 {
  position:absolute;
  left:276px;
  top:15px;
  width:1px;
  height:15px;
}
#u235 {
  position:absolute;
  left:2px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u236_div {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u236 {
  position:absolute;
  left:279px;
  top:14px;
  width:28px;
  height:16px;
  color:#FFFFFF;
}
#u237 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u238_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:16px;
}
#u238 {
  position:absolute;
  left:212px;
  top:15px;
  width:1px;
  height:15px;
}
#u239 {
  position:absolute;
  left:2px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u240_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u240 {
  position:absolute;
  left:216px;
  top:14px;
  width:60px;
  height:16px;
  color:#FFFFFF;
}
#u241 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  white-space:nowrap;
}
#u242 {
  position:absolute;
  left:20px;
  top:453px;
}
#u242_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u242_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u243 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u244_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u244 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u245 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u246_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u246 {
  position:absolute;
  left:10px;
  top:9px;
  width:20px;
  height:20px;
}
#u247 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u248 {
  position:absolute;
  left:20px;
  top:453px;
}
#u248_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u248_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u249 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u250_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u250 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u251 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u252_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u252 {
  position:absolute;
  left:11px;
  top:10px;
  width:20px;
  height:20px;
}
#u253 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u254 {
  position:absolute;
  left:20px;
  top:453px;
}
#u254_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u254_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u255_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u255 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#BCBCBC;
}
#u256 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  word-wrap:break-word;
}
#u257 {
  position:absolute;
  left:23px;
  top:456px;
}
#u257_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u257_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u258 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u259_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u259 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u260 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u261_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u261 {
  position:absolute;
  left:11px;
  top:11px;
  width:20px;
  height:20px;
}
#u262 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u263_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u263 {
  position:absolute;
  left:20px;
  top:453px;
  width:45px;
  height:45px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u263_img.selected {
}
#u263.selected {
}
#u264 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  word-wrap:break-word;
}
